<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
</head>
<body style="background: #f7f7f7">
<div
        style="width: 100%; max-width: 650px; margin: auto; padding: 20px 0"
>
    <div style="margin: 24px">
        <div>
            <img
                    style="width: 160px; height: 60px"
                    src="{{ original }}"
                    alt="Logo Isense"
            >
        </div>
        <div style="margin-top: 24px;">
            <div
                    style="background: #24315D; border-radius: 8px 8px 0 0; padding: 24px 34px"
            >
                <div
                        style="font-family: 'Roboto'; font-style: normal; font-weight: normal; font-size: 32px; text-align: center; color: #FFFFFF;"
                >
                    Flavor Collection Update
                </div>
            </div>
            <div
                    style="background: #FFFFFF; border-radius: 0 0 8px 8px; padding: 30px;font-family: 'Roboto'; font-style: normal; font-weight: normal; font-size: 16px; color: #2A3042;"
            >
                <div
                        style="font-weight: bold;"
                >
                    Hi {{ user.name }},
                </div>
                <div style="margin-top: 4px; line-height: 24px; font-size: 14px">
                    There are new additions to your flavor collection. You will be able to view the
                    flavor sensory profiles.
                </div>
                <br>
                <div
                        style="font-weight: bold; margin-bottom: 10px; color: #0a0a0a"
                >
                    Latest Additions
                </div>
                <div>
                    <table style="font-family: 'Roboto'; border-collapse: collapse; width: 100%;
                   border: 1px solid #999999;">
                        <tr style="height: 40px; width: 491px; height: 40px; left: 473px; top: 603px;
                       background-color: #F1F5FF; color: #24315D;">
                            <th style="width: 200px; padding-left: 10px; text-align: left; font-size: 16px;
                        line-height: 19px; border: 1px solid #cccccc; border-left: 0; border-top: 0; border-bottom: 0;">
                                Flavor name
                            </th>
                            <th style="width: 110px; padding-left: 10px; text-align: left; font-size: 16px;
                        line-height: 19px; border: 1px solid #cccccc; border-top: 0; border-bottom: 0;">iSense ID
                            </th>
                            <th style="width: auto; padding-left: 10px; text-align: left; font-size: 16px;
                        line-height: 19px; border: 1px solid #cccccc; border-right: 0; border-top: 0; border-bottom: 0;">
                                Flavor type
                            </th>
                        </tr>
                        {% for flavor in flavors %}
                            {% if len == 1 %}
                                <tr style="height: 47px; color: #24315D; background-color: #ffffff;">
                                    <td style="align-items: center; line-height: 16px; font-size: 14px;
                               border: 1px solid #cccccc; border-left: 0; padding-left: 10px; border-top: 0;
                               border-bottom: 0">{{ flavor.product_name }}</td>
                                    <td style="align-items: center; line-height: 16px; font-size: 14px;
                               border: 1px solid #cccccc; border-right: 0; border-left: 0; padding-left: 10px;
                               border-top: 0; border-bottom: 0">{{ flavor.isense_id }}</td>
                                    <td style="align-items: center; line-height: 16px; font-size: 14px;
                               border: 1px solid #cccccc; border-right: 0; padding-left: 10px; border-top: 0;
                                border-bottom: 0">{{ flavor.flavor_type }}</td>
                                </tr>
                            {% else %}
                                {% if  flavor == flavors[0] %}
                                    <tr style="height: 47px; color: #24315D; background-color: #ffffff;">
                                        <td style="align-items: center; line-height: 16px; font-size: 14px;
                                   border: 1px solid #cccccc; border-left: 0; padding-left: 10px; border-top: 0;
                                   ">{{ flavor.product_name }}</td>
                                        <td style="align-items: center; line-height: 16px; font-size: 14px;
                                   border: 1px solid #cccccc; border-right: 0; border-left: 0; padding-left: 10px;
                                   border-top: 0;">{{ flavor.isense_id }}</td>
                                        <td style="align-items: center; line-height: 16px; font-size: 14px;
                                   border: 1px solid #cccccc; border-right: 0; padding-left: 10px; border-top: 0;
                                    ">{{ flavor.flavor_type }}</td>
                                    </tr>
                                {% elif flavor != flavors[len-1] %}
                                    <tr style="height: 47px; color: #24315D; background-color: #ffffff;">
                                        <td style="align-items: center; line-height: 16px; font-size: 14px;
                                   border: 1px solid #cccccc; border-left: 0; padding-left: 10px;">
                                            {{ flavor.product_name }}</td>
                                        <td style="align-items: center; line-height: 16px; font-size: 14px;
                                   border: 1px solid #cccccc; border-right: 0; border-left: 0; padding-left: 10px;
                                   ">{{ flavor.isense_id }}</td>
                                        <td style="align-items: center; line-height: 16px; font-size: 14px;
                                   border: 1px solid #cccccc; border-right: 0; padding-left: 10px;">
                                            {{ flavor.flavor_type }}</td>
                                    </tr>
                                {% elif flavor == flavors[len-1] %}
                                    <tr style="height: 47px; color: #24315D; background-color: #ffffff;">
                                        <td style="align-items: center; line-height: 16px; font-size: 14px;
                                   border: 1px solid #cccccc; border-left: 0; padding-left: 10px;
                                   border-bottom: 0">{{ flavor.product_name }}</td>
                                        <td style="align-items: center; line-height: 16px; font-size: 14px;
                                   border: 1px solid #cccccc; border-right: 0; border-left: 0; padding-left: 10px;
                                   border-bottom: 0">{{ flavor.isense_id }}</td>
                                        <td style="align-items: center; line-height: 16px; font-size: 14px;
                                   border: 1px solid #cccccc; border-right: 0; padding-left: 10px;
                                    border-bottom: 0">{{ flavor.flavor_type }}</td>
                                    </tr>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </table>
                </div>
                <br>
                <div style="margin-top: 4px; line-height: 24px; font-size: 14px">
                    If you didn't make this digitization, <a href="{{ link_contact_us_error }}" style="color: #7298FF; text-decoration:
                    none">let us know right away</a>. It's
                    important because it helps us make sure no one is accessing your account to make a digitization
                    without your knowledge.
                </div>
                <br>
                <div style="margin-top: 20px; text-align: center">
                    <a
                            style="background: #7298FF; border-radius: 3px; padding: 18.84px 15px; display: block; font-family: 'Roboto'; font-style: normal; font-weight: bold; font-size: 14px; text-align: center; color: #FFFFFF; width: 208px; margin: 0 auto; cursor: pointer; text-decoration: none"
                            type="button"
                            href="{{ link_flavor_collection }}"
                    >
                        View Flavor Collection
                    </a>
                </div>
                <div style="margin: 40px auto 10px; min-width: 386px;">
                    <div style="width: 100%; height: 1px; background: #DDDDDD"></div>
                    <div style="font-family: 'Roboto'; font-style: normal; font-weight: normal; font-size: 14px; line-height: normal; text-align: center; color: #000000; margin-top: 20px"
                    >Need help? Feedback? Click <a href="{{ link_contact_us }}" style="color: #7298FF">here</a> to
                        contact our support team
                    </div>
                    <div style="text-align: center; margin-top: 16px">
                        <span
                                style="text-align: center; font-family: 'Roboto'; font-style: normal; font-weight: bold; font-size: 12px; color: #24315D;"
                        >
                            <a href="https://www.isensegroup.com/terms-of-use"
                               style="cursor: pointer; text-decoration: none">
                                Terms of Use
                            </a>
                            &nbsp;&nbsp;&#124;&nbsp;&nbsp;
                            <a href="https://www.isensegroup.com/privacy-policy"
                               style="cursor: pointer; text-decoration: none">
                                Privacy Policy
                            </a>
                              &#124; &nbsp;
                            <a href="https://www.isensegroup.com/privacy-notice"
                               style="cursor: pointer; text-decoration: none">
                                Privacy Notice
                            </a>
                        </span>
                    </div>
                    <div
                            style="font-family: 'Roboto'; font-style: normal; font-weight: normal; font-size: 12px; text-align: center; color: #000000; margin-top: 16px"
                    >
                        &copy; Copyright iSense. All Rights Reserved.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>