<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
</head>
<body style="background: #f7f7f7">
<div
        style="width: 100%; max-width: 650px; margin: auto; padding: 20px 0"
>
    <div style="margin: 24px">
        <div>
            <img
                    style="width: 160px; height: 60px"
                    src="{{ original }}"
                    alt="Logo Isense"
            >
        </div>
        <div style="margin-top: 24px;">
            <div
                    style="background: #24315D; border-radius: 8px 8px 8px 8px; padding: 24px 34px;"
            >
                <div style="padding: 32px 0px; text-align: center;"
                >
                    <div style="font-family: 'Roboto'; font-style: normal; font-weight: normal; font-size: 32px; text-align: center; color: #FFFFFF;"
                    >
                        Your request for a sample has been approved
                    </div>
                </div>
            </div>
            <div
                    style="background: #FFFFFF; border-radius: 0 0 8px 8px; padding: 30px; font-family: 'Roboto'; font-style: normal; font-weight: normal; font-size: 16px; color: #2A3042;"
            >
                <div
                        style="font-weight: bold;"
                >
                    Hi {{ user.name }}
                </div>
                <div style="margin-top: 11px; line-height: 24px; font-size: 14px">
                    <div>
                        We are happy to inform you that your request for sample for Marketplace
                        ID, {{ flavor.marketplace_id }}, has been approved. Logistics details are provided below.
                    </div>
                    <div style="margin-top: 20px;">
                        <div>
                            <div style="text-decoration: underline">
                                Flavor Details
                            </div>
                            <div>
                                iSense ID: {{ flavor.isense_id }}
                            </div>
                            <div>
                                Product name: {{ flavor.product_name }}
                            </div>
                            <div>
                                Product Reference:
                                {% if flavor.product_reference %}
                                    {{ flavor.product_reference }}
                                {% else %}
                                    N/A
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div style="margin-top: 20px;">
                        <div>
                            <div style="text-decoration: underline">
                                Shipping address
                            </div>
                            <div>
                                Address: {{ order.shipping_address }}
                            </div>
                            <div>
                                Postal Code: {{ order.postal_code }}
                            </div>
                            <div>
                                State:
                                {% if order.state %}
                                    {{ order.state }}
                                {% else %}
                                    N/A
                                {% endif %}
                            </div>
                            <div>
                                City: {{ order.city }}
                            </div>
                            <div>
                                Country: {{ order.country }}
                            </div>
                        </div>
                    </div>
                    <div style="margin-top: 20px;">
                        If the shipping address is incorrect or any information is missing, please arrange details with
                        the flavor house (in copy of this email) within 2 working days.
                    </div>
                    <div style="margin-top: 20px;">
                        <a href="{{ link_login }}" style="color: #7298FF">Log in</a> to see the flavor details.
                    </div>
                    <div style="margin-top: 20px;">
                        Thank you for using the iSense marketplace
                    </div>
                    <div style="margin: 40px auto 10px; min-width: 386px;">
                        <div style="width: 100%; height: 1px; background: #DDDDDD"></div>
                        <div style="font-family: 'Roboto'; font-style: normal; font-weight: normal; font-size: 14px; line-height: normal; text-align: center; color: #000000; margin-top: 20px"
                        >Need help? Feedback? Click <a href="{{ link_contact_us }}" style="color: #7298FF">here</a> to
                            contact our support team
                        </div>
                        <div style="text-align: center; margin-top: 16px">
                            <span
                                    style="text-align: center; font-family: 'Roboto'; font-style: normal; font-weight: bold; font-size: 12px; color: #24315D;"
                            >
                                <a href="https://www.isensegroup.com/terms-of-use"
                                   style="cursor: pointer; text-decoration: none">
                                    Terms of Use
                                </a>
                                &nbsp;&nbsp;&#124;&nbsp;&nbsp;
                                <a href="https://www.isensegroup.com/privacy-policy"
                                   style="cursor: pointer; text-decoration: none">
                                    Privacy Policy
                                </a>
                                  &#124; &nbsp;
                                <a href="https://www.isensegroup.com/privacy-notice"
                                   style="cursor: pointer; text-decoration: none">
                                    Privacy Notice
                                </a>
                            </span>
                        </div>
                        <div
                                style="font-family: 'Roboto'; font-style: normal; font-weight: normal; font-size: 12px; text-align: center; color: #000000; margin-top: 16px"
                        >
                            &copy; Copyright iSense. All Rights Reserved.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>