<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
</head>
<body style="background: #f7f7f7">
<div
        style="width: 100%; max-width: 650px; margin: auto; padding: 20px 0"
>
    <div style="margin: 24px">
        <div>
            <img
                    style="width: 160px; height: 60px"
                    src={original}
                    alt="Logo Isense"
            >
        </div>
        <div style="margin-top: 24px;">
            <div
                    style="background: #24315D; border-radius: 8px 8px 0 0; padding: 24px 34px"
            >
                <div
                        style="font-family: 'Roboto'; font-style: normal; font-weight: normal; font-size: 32px; text-align: center; color: #FFFFFF;"
                >
                    Account Management
                </div>
            </div>
            <div
                    style="background: #FFFFFF; border-radius: 0 0 8px 8px; padding: 30px;font-family: 'Roboto'; font-style: normal; font-weight: normal; font-size: 16px; color: #2A3042;"
            >
                <div style="margin-top: 4px; line-height: 24px; font-size: 14px">
                    {user_name} from a food & beverage manufacture, {company_name}, has requested for an iSense account.
                    <p><a href={link} style="text-decoration:none;
                    color: #7298FF">Log in</a> to approve it.</p>
                </div>
                <div style="margin: 40px auto 10px; min-width: 386px;">
                    <div style="width: 100%; height: 1px; background: #DDDDDD"></div>
                    <div style="font-family: 'Roboto'; font-style: normal; font-weight: normal; font-size: 14px; line-height: normal; text-align: center; color: #000000; margin-top: 20px"
                    >Need help? Feedback? Click <a href="{{ link_contact_us }}" style="color: #7298FF">here</a> to
                        contact our support team
                    </div>
                    <div style="text-align: center; margin-top: 16px">
                        <span
                                style="text-align: center; font-family: 'Roboto'; font-style: normal; font-weight: bold; font-size: 12px; color: #24315D;"
                        >
                            <a href="https://www.isensegroup.com/terms-of-use"
                               style="cursor: pointer; text-decoration: none">
                                Terms of Use
                            </a>
                            &nbsp;&nbsp;&#124;&nbsp;&nbsp;
                            <a href="https://www.isensegroup.com/privacy-policy"
                               style="cursor: pointer; text-decoration: none">
                                Privacy Policy
                            </a>
                              &#124; &nbsp;
                            <a href="https://www.isensegroup.com/privacy-notice"
                               style="cursor: pointer; text-decoration: none">
                                Privacy Notice
                            </a>
                        </span>
                    </div>
                    <div
                            style="font-family: 'Roboto'; font-style: normal; font-weight: normal; font-size: 12px; text-align: center; color: #000000; margin-top: 16px"
                    >
                        &copy; Copyright iSense. All Rights Reserved.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>